{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% if app.user %}
		<h1 class="fs-1"> Bonjour:
			{{app.user.prenom}}</h1>

	{% endif %}
{% endblock %}
