<ul>
<li><a href="{{path('app_produit_index')}}">Tout les produits</a></li>
<li><a href="{{path('app_commande')}}">Mes commandes</a></li>
<li><a href="{{ path('app_logout')}}">Déconnexion</a></li>
</ul>